mat-card {
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

mat-card-header {
  font-size: 1.2rem;
  margin-top: .5rem !important;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.dislikes {
  color: #00B2FFFF;
}

.interactions {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.interactions > div {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1vw;
}

.interactions mat-icon {
  font-size: 1rem;
  cursor: pointer;
}

::ng-deep .snack-bar {
  background-color: #FDFDFD;
  color: black !important;
}

::ng-deep .snack-bar button {
  color: #00B2FFFF !important;
}
