
<mat-card>
  <mat-card-header>
    <p>{{post.content}}</p>
  </mat-card-header>
  <mat-card-content>
    <div class="interactions">
      <div class="dislikes" (click)="dislike()">
        <mat-icon>thumb_down</mat-icon>
        <p>{{post.interactions.filter(filterDislikes).length}}</p>
      </div>
      <div class="hates" (click)="hate()">
        <mat-icon>close</mat-icon>
        <p>{{post.interactions.filter(filterHates).length}}</p>
      </div>
      <div class="comments">
        <mat-icon>chat_bubble_outline</mat-icon>
        <p>{{post.comments?.length ?? 0}}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
