#header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: black;
}

#header > span {
  font-weight: normal;
}

#post-button {
  width: 120px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}

#menu {
  color: #00b2ff;
  padding-left: 48px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-sidenav-content {
  background: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.active {
  color: #00B2FFFF;
}

/* not really clean! */
:host ::ng-deep .mat-list-item-content {
  padding-left: 50px !important;
}
