/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.blue-button-flat:enabled { background: #00B2FFFF !important; }
.blue-button-stroked:enabled { color: #00B2FFFF !important; }
