.main {
  padding: 5vh 5vw;
}

h2 {
  font-size: 3rem;
}
h3 {
   font-size: 1.2rem;
 }

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 2vh;
}

.cats {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.cats > img {
  height: 100px;
  border-radius: 1rem;
  margin-right: 1rem;
  opacity: 75%;
}

.subs {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.subs > * {
  margin-right: 1rem;
}

span {
  font-weight: bold;
}

.posts {
  max-height: 50vh;
  overflow-y: auto;
  padding: 2vh 0;
}
app-post {
  display: block;
  width: 50%;
  margin: 1rem auto;
}


